**/*.ts
**/tsconfig.json
**/.vscode/**
.github/**
.vscode-test/**
docs/**
assets/helm-apps/**
helm-apps.bundle-ref
eslint.config.mjs
jetbrains/**
scripts/**
src/**
test/**
out/test/**
node_modules/**/test*.js
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
tsconfig.eslint.json
*.vsix
